# To deploy on Ethereum using Infura
INFURA_PROJECT_ID=xxxxxxxxxxxxxxxxxxxxx

# Initial owner of smart contracts
DEPLOYER_PRIVATE_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# To verify contracts on EtherScan
ETHERSCAN_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxx

# Metadata of UNQ fungible token stored in IPFS
FUNGIBLE_TOKEN_METADATA_HASH=QmUbtGBSKLrPfKMjrMhJQPMfGCrfmBY31VLm2HtuDYjkbV
